@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}
<br />
<br />
    <div class="container bg-white">
        <div class="row">
            <div class="col">
                <div class="pb-2 mt-4 mb-2 border-bottom">
                    <h1 align="center"> About Us</h1>
                </div>



                &nbsp

                <div id="memberContent">
                    <!--Start of content-->

                    <div>


                        <div>
                            <!--Start of member container-->
                            <div id="member">
                                <h3 align="left"> <u>Bisma Balouch</u>  </h3>
                                <img src="~/img/bisma.jpeg" style="width:20%">
                                <p align="justify">
                                    Bisma Balouch is currently pursuing her Masters of Science in Business Analytics and Information Systems and also working as a graduate assistant at University of South Florida.
                                    In the past, she has worked as an IT Business Analyst at Raymond James Financial and has completed her undergraduate degree in Finance and Business Analytics from University of South Florida
                                    as a Cum Laude in 2019. Bisma helped with the design of the website, organizing the team meetings, researched on API and was in charge of the submission of the project.
                                </p>
                                <div id="member">
                                    <h3 align="left"> <u> William Collins</u> </h3>
                                    <img src="~/img/collins.png" style="width:20%">
                                    <p align="justify">
                                        William Collins is a graduate student at USF Tampa, majoring in Business Analytics & Information Systems.
                                        William's focus in his degree is in analytics & business intelligence, while also focusing on data warehousing and dimensional modeling. William currently works as
                                        a Graduate Assistant for QMB 2100 Business Economic Statistics. William constructed the data model, made graphics and assisted in the design of the website.
                                        <h3 align="left"> <u> Varsha Issrani </u></h3>
                                        <img src="~/img/issrani.jpg style="width:20%"> <!--Insert Member Image here-->
                                    <p align="justify">
                                        Varsha Issrani is a graduate student at the University of South Florida, majoring in Business Analytics & Information Systems. In addition to this,
                                        Varsha is currently an Graduate Assistantfor Computers in Business course. Varsha's contributions to this project includes accumulating the API key for the data, organizing the GITHUB
                                        and helping in the design of this website.
                                        <h3 align="left"> <u> Tamarakarebi Wodu </u></h3>
                                        <img src="~/img/wodu.jpeg" style="width:20%"> <!--Insert Member Image here-->
                                    <p align="justify">
                                        Tamara is a master's student at the University of South Florida, majoring in Business Analytics and Information Systems
                                        in her third semester. Her considerable experience in data analytics makes her a valuable member of the team. Tamara is driven by a desire to grasp the complexities of big data and data visualization. She sees herself as a "forever learner,"keen to improve on her academic roots in business analytics while also staying up to date on the latest information systems through continuing coursework. In this project, Tamara helped with the desgin of the website and accumulated all the images for the website.

                                </div>
                            </div>
                            <div class="container bg-white">
                                <br />
                                <hr>
                                <br />
                                <p align="center">Visit our <a href="https://github.com/vissrani1/Assignment-3" target="_blank">GitHub Repository</a></p>
                                <br />
                                <hr>
                                <br />
                            </div>

                            <div class="container bg-white">
                                <h2>Data Model</h2>
                                <img src="~/img/datamodel.png" alt="DataModel" class="left" width="900" height="500">
                                <p align="center">View <a href="https://data.ed.gov/dataset/college-scorecard-all-data-files-through-6-2020/resources?resource=823ac095-bdfc-41b0-b508-4e8fc3110082" target="_blank">Data Source here.</a></p>
                                <p align="center">Visit <a href="http://api.data.gov/ed/collegescorecard/v1/schools" target="_blank"> API endpoint</a></p>
                                <hr>
                            </div>
                        </div>
                  
