@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container bg-white">
    <div class="row">
        <div class="col">
            <div class="pb-2 mt-4 mb-2 border-bottom">
                <h1 align="center"> Explore Education Data</h1>
            </div>
            <div class="row justify-content-center pb-2 border-bottom">
                <a asp-controller="Create" asp-action="Index">Create New Record</a>
            </div>

            <form>
                <div class="form-row justify-content-center pt-3 pb-2">
                    <div class="col-sm-3">
                        <div class="search-box">
                            <i class="material-icons">&#xe8b6;</i>
                            <input type="text" class="form-control" placeholder="By School&hellip;">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="search-box">
                            <i class="material-icons">&#xE8B6;</i>
                            <input type="text" class="form-control" placeholder="By City&hellip;">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="search-box">
                            <i class="material-icons">&#xE8B6;</i>
                            <input type="text" class="form-control" placeholder="By State&hellip;">
                        </div>
                    </div>
                    <div class="col-sm-3 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>


            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <link rel="stylesheet" type="text/css" href="./css/main.css">
                <title>Assignment - 3</title>
            </head>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

            <style>
                th {
                    color: #fff;
                }
            </style>


            <table class="table table-striped">
                <tr class="bg-info">
                    <th>ID</th>
                    <th>SCHOOL NAME</th>
                    <th>CITY</th>
                    <th>STATE</th>
                    <th>AVERAGE SAT SCORE</th>
                    <th>AVERAGE ACT SCORE</th>
                    <th>ADMISSION RATE</th>
                    <th>ENROLLED STUDENTS</th>
                    <th>IN STATE TUITION</th>
                    <th>OUT OF STATE TUITION</th>
                    <th>SCHOOL WEBSITE</th>
                </tr>

                <tbody id="myTable">
                </tbody>
            </table>

            <script>var myArray = []


    $.ajax({
        method:'GET',
        url:'https://api.data.gov/ed/collegescorecard/v1/schools?api_key=sOaqyejLHpoOUEY4air3g7GSbQmYJ3VDeJIZykvz',
        success:function(response){
            myArray = response.results
            buildTable(myArray)
            console.log(myArray)
        }
    })



    function buildTable(data){
        var table = document.getElementById('myTable')

        for (var i = 0; i < data.length; i++){
            var row = `<tr>
                            <td>${data[i].fed_sch_cd}</td>
                            <td>${data[i].school.name}</td>
                            <td>${data[i].school.city}</td>
                            <td>${data[i].school.state}</td>
                            <td>${data[i].latest.admissions.sat_scores.average.overall}</td>
                            <td>${data[i].latest.admissions.act_scores.midpoint.cumulative}</td>
                            <td>${data[i].latest.admissions.admission_rate.overall}</td>
                            <td>${data[i].latest.student.size}</td>
                            <td>${data[i].latest.cost.tuition.in_state}</td>
                            <td>${data[i].latest.cost.tuition.out_of_state}</td>
                            <td>${data[i].school.school_url}</td>
                      </tr>`
            table.innerHTML += row


        }
    }</script>
